{% extends "base.html" %}
{% from "form_macros.html" import render_field %}
{% block title %}
Petcare -- Login
{% endblock %}

{% block content%}
    <section class="login_container">
        <h1>Please Login</h1>
        <form class="login_form" action="" method="post">
            {{form.hidden_tag()}}
            {{ render_field(form.email, size=50) }}
            {{ render_field(form.password, size=50) }}
            {{ render_field(form.remember_me) }}
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </section>
{% endblock %}

{% block sidebar %}
{% endblock %}
