.wrapper {
    height: calc(100% - 50px);
}

.content_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100vw;
}

.register_container {
    form .register_form {
        margin: 0 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "email email"
            "password password_validate"
            "displayname displayname"
            "firstname surname"
            "submit submit";
    }
    
    .email {
        grid-area: email;
    }
    
    .password {
        grid-area: password;
    }
    
    .password_validate {
        grid-area: password_validate;
    }
    
    .display_name {
        grid-area: displayname;
    }
    
    .first_name {
        grid-area: firstname;
    }
    
    .surname {
        grid-area: surname;
    } 
    
    .submit {
        grid-area: submit;
        padding-top: 15px;
    }
    
    body {
        background-color: rgb(231, 231, 231);
    }
    
    input {
        height: 45px;
        min-width: 350px;
        width: 100%;
        border-radius: 10px;
        font-size: 20px;
        padding: 5px;
    
        :focus {
            outline: 0;
        }
    }
    
    
    button {
        background-color: #333;
        color: white;
        border: 0;
        padding: 10px;    
        height: 50px;
        font-size: 24px;
        
        :focus {
            outline: 0;
        }
    }
    
    .error {
        ul {
            padding: 0;
            margin: 0 0 0 10px;
            text-align: left;
        }
    
        li {
            list-style-type: none;
            color: red;
        }
    }
    
    @media screen and (max-width: 800px) {
        form {
            grid-template-areas: 
            "email email"
            "password password"
            "password_validate password_validate"
            "displayname displayname"
            "firstname firstname"
            "surname surname"
            "submit submit";
        }
    }
}