{% extends "base.html" %}
{% block title %}
Petcare -- Explore
{% endblock %}

{% block content%}
    <article>
        <section>
            <h2>Article section h2</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias recusandae deleniti expedita rerum, iusto nisi quis dolorum amet nobis ipsam eum eius tempore totam nesciunt placeat maiores assumenda labore voluptates.</p>
        </section>
        <section>
            <h2>Article section h2</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias recusandae deleniti expedita rerum, iusto nisi quis dolorum amet nobis ipsam eum eius tempore totam nesciunt placeat maiores assumenda labore voluptates.</p>
        </section>
    </article>
{% endblock %}